/* 
Color Palettes 

-- Font Color --
Thamar Black - 181818 
Cornsilk - FEFAE0

-- Design Color --
Cape Palliser - 784830
Liver Dogs - BC6C25
Fawn - DDA15E
Kombu Green - 283618
Dark Oliver Green - 606C38
*/

/* Ong Lit Tsen */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
p {
  font-family: "Old Standard TT", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", sans-serif;
}

/* Sticky Navigation Bar */
.nav-bar {
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: auto;
  color: #fefae0;
  background-color: #181818;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  z-index: 100;
}

.nav-bar-left {
  height: 100px;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.nav-bar-left h3 {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.nav-bar-logo {
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  width: 100px;
}

.nav-bar-logo img {
  height: 100px;
  width: 100px;
}

.nav-bar-right {
  height: 100px;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.nav-bar-right h3 {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1.5px;
}

/* Homepage Parallax */
.bean-homepage {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Homepage Parallax Background */
.bean-homepage-parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: -1;
}

.bean-homepage-parallax-back {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateX(-450px) translateY(-200px) translateZ(-1.625px)
    scale(2.5);
}

.image-container {
  height: max-content;
  width: max-content;
  overflow: hidden;
}

/* Homepage Parallax Quote */
.bean-homepage-parallax-base {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateZ(0);
}

.quote-container {
  margin: 325px 300px 0 300px;
  padding: 15px;
  width: auto;
  height: auto;
  background-color: #181818dd;
  border-radius: 5px;
}

.quote-container p {
  color: #fefae0;
  font-size: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}

.column1 {
  float: left;
  width: 75%;
  padding: 10px;
  background-color: #fff;
  height: 1700px;
}

.column2 {
  float: left;
  width: 25%;
  padding: 10px;
  background-color: #dda15e;
  height: 1700px;
}

.row {
  margin: 0;
  background-color: #fff;
  height: 2200px;
  z-index: 1;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.product-container {
  display: inline-block;
  width: 350px;
  margin-top: 50px;
  margin-left: 100px;
  height: 350px;
}

.product-container img {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: inline-block;
}

.product-display {
  height: 350px;
  width: 350px;
  background-color: #784830;
  position: absolute;
  opacity: 0;
}

.product-container:hover .product-display {
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  transition-duration: 1s;
}

.product-container:hover img {
  display: none;
}

.desc {
  color: #fff;
  font-size: 20px;
  position: relative;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  top: calc(50% - 6px);
}

.search-text {
  margin-top: 45px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  color: #fff;
  font-family: "Old Standard TT";
}

.search-box {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.search-box:hover > .search-input {
  width: 350px;
}

.search-box .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.search-box .search-btn .fas {
  color: #a0522d;
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

.search-box:hover {
  animation: hoverShake 0.3s linear 3;
}

.filter-text {
  margin-top: 100px;
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 30px;
  color: #fff;
  font-family: "Old Standard TT";
}

.design {
  height: 13px;
  width: 250px;
  background-color: #784830;
  margin-bottom: 25px;
  margin-left: -10px;
}

#filter-list {
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 85%;
}

.end-product-container {
  display: inline-block;
  margin-top: 170px;
  margin-left: 158px;
  width: 300px;
  font-family: "Old Standard TT", "serif";
  font-size: 25px;
}

/* Footer */
.footer-container {
  height: 24%;
  width: 100%;
  color: #181818;
  background-color: #f3eec8;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.footer-quote-container {
  margin: 50px;
  height: auto;
  width: auto;
}

.footer-quote {
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.footer-sub-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.footer-nav {
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.footer-nav p {
  margin-top: 15px;
}

.footer-social-media {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fsm-title {
  margin: 15px;
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.fsm-content {
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.fsm-content p {
  margin-top: 15px;
}

.footer-contact-us {
  margin: 15px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.fcu-title {
  margin: 15px;
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.fcu-content {
  margin-top: 15px;
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.fcu-content p {
  margin-top: 15px;
}

.footer-copyright {
  margin: 25px;
  height: auto;
  width: auto;
  font-size: 18px;
  letter-spacing: 1.5px;
  text-align: right;
  border-top: 2.5px solid #181818;
}

.footer-copyright p {
  margin-top: 25px;
}
