/* 
Color Palettes 

-- Font Color --
Thamar Black - 181818 
Cornsilk - FEFAE0

-- Design Color --
Cape Palliser - 784830
Liver Dogs - BC6C25
Fawn - DDA15E
Kombu Green - 283618
Dark Oliver Green - 606C38
*/

/* Coded by Yip Zi Xian */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
p {
    font-family: "Old Standard TT", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen", sans-serif;
}

/* Sticky Navigation Bar */
.nav-bar {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: auto;
    color: #fefae0;
    background-color: #181818;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    z-index: 100;
}

.nav-bar-left {
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav-bar-left h3 {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.nav-bar-logo {
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.nav-bar-logo img {
    height: 100px;
    width: 100px;
}

.nav-bar-right {
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav-bar-right h3 {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
}

/* Feedback List Page Parallax */
.feedback-list-page {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
  
/* Feedback List Parallax Background */
.feedback-list-parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: 5;
}
  
.feedback-list-parallax-back {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    transform: translateX(-450px) translateY(-200px) translateZ(-1.625px) scale(2.5);
}
  
.flb-image-container {
    width: max-content;
    height: max-content;
    overflow: hidden;
}
  
/* Feedback List Parallax Quote */
.feedback-list-parallax-base {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateZ(0);
}
  
.quote-container {
    margin: 325px 300px 0 300px;
    padding: 15px;
    width: auto;
    height: auto;
    background-color: #181818DD;
    border-radius: 5px;
}
  
.quote-container p {
    color: #fefae0;
    font-size: 28px;
    letter-spacing: 0.5px;
    text-align: center;
}

/* Feedback Container */
.feedback-container {
    margin-top: 450px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.feedback-left {
    height: auto;
    width: 75%;
    background-color: #fefae0;
}

.feedback-title {
    margin: 50px;
    height: auto;
    width: auto;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
}

.feedback-title h2 {
    padding-bottom: 10px;
    font-size: 40px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 10px solid #283618;
}

.all-feedback-container {
    margin: 25px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.feedback {
    margin: 25px 25px 50px 25px;
    height: auto;
    width: auto;
    color: #fefae0;
    background-color: #606C38;
}

.feedback p {
    margin: 25px;
    height: auto;
    width: auto;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    text-align: left;
}

.feedback-right {
    height: 100%;
    width: 25%;
    color: #fefae0;
    background-color: #283618;
    
}

.feedback-right form {
    margin: 150px 10px ;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.feedback-right form label {
    margin: 10px;
    height: auto;
    width: auto;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.feedback-right form input {
    right: 0;
    margin: 10px;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: "Old Standard TT", serif;
    background: linear-gradient(to left, #fefae0 50%, #DDa15e 50%) right;
    background-size: 200%;
    border: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.feedback-right form input[type=submit] {
    width: 150px;
    background: linear-gradient(to left, #fefae0 50%, #283618 50%) right;
    background-size: 200%;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.feedback-right form input:focus {
    background-position: left;
    outline: none;
}

.feedback-right form input[type=submit]:hover {
    color: #fefae0;
    background-position: left;
}

/* Footer */
.footer-container {
    height: auto;
    width: auto;
    color: #181818;
    background-color: #F3EEC8;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.footer-quote-container {
    margin: 50px;
    height: auto;
    width: auto;
}
  
.footer-quote {
    height: auto;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
  
.footer-sub-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
  
.footer-nav {
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.footer-nav p {
    margin-top: 15px;
}
  
.footer-social-media {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
  
.fsm-title {
    margin: 15px;
    height: auto;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
  
.fsm-content {
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.fsm-content p {
    margin-top: 15px;
}
  
.footer-contact-us {
    margin: 15px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.fcu-title {
    margin: 15px;
    height: auto;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
  
.fcu-content {
    margin-top: 15px;
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.fcu-content p {
    margin-top: 15px;
}
  
.footer-copyright {
    margin: 25px;
    height: auto;
    width: auto;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: right;
    border-top: 2.5px solid #181818;
}
  
.footer-copyright p {
    margin-top: 25px;
}