/*Edited by Marcus*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body,
p {
  font-family: "Old Standard TT", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", sans-serif;
}

/* Sticky Navigation Bar */
.nav-bar {
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: auto;
  color: #fefae0;
  background-color: #181818;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  z-index: 100;
}

.nav-bar-left {
  height: 100px;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.nav-bar-left h3 {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.nav-bar-logo {
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  width: 100px;
}

.nav-bar-logo img {
  height: 100px;
  width: 100px;
}

.nav-bar-right {
  height: 100px;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.nav-bar-right h3 {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1.5px;
}

/* Homepage Parallax */
.homepage {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.homepage-parallax-base {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateZ(0);
}

/* Homepage Parallax Background */
.homepage-parallax-group {
  position: relative;
  height: 320px;
  transform-style: preserve-3d;
  z-index: -1;
}

.homepage-parallax-group:nth-child(2) {
  margin-top: 2430px;
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: 4;
}

.homepage-parallax-back {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateX(-550px) translateY(-1350px) translateZ(-1.625px) scale(2.5);
}

.hpb-image-container {
  width: max-content;
  height: max-content;
  overflow: hidden;
}

/* Homepage Parallax Quote */
.homepage-parallax-base {
  top: -40px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateZ(0);
}

.quote-container {
  position: absolute;
  width: 603px;
  height: 131px;
  left: 458px;
  top: 399px;
}

.quote-container p {
  font-family: Old Standard TT;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}

/* Recommendation Container */
.recommendation-container {
  margin-top: 625px;
  height: auto;
  width: auto;
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.premium-selection-container, .fresh-arrival-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ps-text-container, .fa-text-container {
  margin: 125px 30px;
  height: 400px;
  width: auto;
}

.ps-text-container h2 {
  padding-right: 5px;
  font-size: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  border-right: 10px solid #bc6c25;
}

.fa-text-container h2 {
  padding-left: 5px;
  font-size: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  border-left: 10px solid #DDA15E;
}

.search {
  margin: 125px 30px;
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.desc {
  color: #fff;
  font-size: 20px;
  position: relative;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  top: calc(50% - 6px);
}

.row1 {
  margin: 0;
  background-color: #fff;
  height: 3000px;
  z-index: 1;
}

.row2 {
  margin: 0;
  background: #ffffff;
  height: 1400px;
  z-index: 1;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.search-box {
  position: absolute;
  width: 346px;
  height: 40px;
  left: 587px;
  top: 760px;
  font-family: Old Standard TT;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}

.column {
  float: center;
  padding: 10px;
  background-color: #fff;
  height: 3000px;
}

.box2 {
  position: absolute;
  width: 400px;
  height: 20px;
  left: 560px;
  top: 814px;
  background: #606C38;
}

.search-box:hover > .search-input {
  width: 200px;
}

.search-box .search-input {
  background: whitesmoke;
  border: none;
  outline: none;
  width: 0;
  font-weight: 500;
  font-size: 32px;
  transition: 0.8s;
}

.search-text {
  position: absolute;
  width: 346px;
  height: 40px;
  left: 587px;
  top: 760px;   
  font-family: Old Standard TT;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;  
  color: #000000;
}

/* Blog Container */
.blog-container {
  float: center;
  margin-top: 400px;
  padding-bottom: 100px;
  height: auto;
  width: auto;
  background-color: #ffffff;
  z-index: 1;
}

.blog-content-container {
  height: auto;
  width: auto;
  display: flex; 
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  background-color: #ffffff;
}

/* Footer */
.footer-container {
  height: auto;
  width: auto;
  color: #181818;
  background-color: #F3EEC8;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.footer-quote-container {
  margin: 50px;
  height: auto;
  width: auto;
}

.footer-quote {
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.footer-sub-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.footer-nav {
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.footer-nav p {
  margin-top: 15px;
}

.footer-social-media {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fsm-title {
  margin: 15px;
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.fsm-content {
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.fsm-content p {
  margin-top: 15px;
}

.footer-contact-us {
  margin: 15px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.fcu-title {
  margin: 15px;
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.fcu-content {
  margin-top: 15px;
  height: auto;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.fcu-content p {
  margin-top: 15px;
}

.footer-copyright {
  margin: 25px;
  height: auto;
  width: auto;
  font-size: 18px;
  letter-spacing: 1.5px;
  text-align: right;
  border-top: 2.5px solid #181818;
}

.footer-copyright p {
  margin-top: 25px;
}

.blog1 {
  position: absolute;
  width: 380px;
  height: 350px;
  left: 79px;
  top: 908px;
  background: #C4C4C4;
}

.blog2 {
  position: absolute;
  width: 380px;
  height: 350px;
  left: 560px;
  top: 908px;
  background: #C4C4C4;
}

.blog3 {
  position: absolute;
  width: 380px;
  height: 350px;
  left: 1041px;
  top: 908px;
  background: #C4C4C4;
}

.blog4 {
  position: absolute;
  width: 380px;
  height: 350px;
  left: 79px;
  top: 1459px;
  background: #C4C4C4;
}

.blog5 {
  position: absolute;
  width: 380px;
  height: 350px;
  left: 560px;
  top: 1459px;
  background: #C4C4C4;
}

.blog6 {
  position: absolute;
  width: 380px;
  height: 350px;
  left: 1041px;
  top: 1459px;
  background: #C4C4C4;
}

.rect1 {
  position: absolute;
  width: 20px;
  height: 350px;
  left: 459px;
  top: 908px;
  background: #283618;
}

.rect2 {
  position: absolute;
  width: 20px;
  height: 350px;
  left: 940px;
  top: 908px;
  background: #283618;
}

.rect3 {
  position: absolute;
  width: 20px;
  height: 350px;
  left: 1421px;
  top: 908px;
  background: #283618;
}

.rect4 {
  position: absolute;
  width: 20px;
  height: 350px;
  left: 459px;
  top: 1459px;
  background: #283618;
}

.rect5 {
  position: absolute;
  width: 20px;
  height: 350px;
  left: 940px;
  top: 1459px;
  background: #283618;
}

.rect6 {
  position: absolute;
  width: 20px;
  height: 350px;
  left: 1421px;
  top: 1459px;
  background: #283618;
}

.edit1 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 196px;
  top: 1283px;
}

.edit2 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 677px;
  top: 1283px;
}

.edit3 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1158px;
  top: 1283px;
}

.edit4 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 196px;
  top: 1832px;
}

.edit5 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 677px;
  top: 1832px;
}

.edit6 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1158px;
  top: 1832px;
}

.delete1 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 312px;
  top: 1283px;
}

.delete2 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 793px;
  top: 1283px;
}

.delete3 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1274px;
  top: 1283px;
}

.delete4 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 312px;
  top: 1832px;
}

.delete5 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 793px;
  top: 1832px;
}

.delete6 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1274px;
  top: 1832px;
}

.addicon {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 26px;
  top: 2006px;
  mix-blend-mode: darken;
}  