* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  p {
    font-family: "Old Standard TT", serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oxygen", sans-serif;
  }
  
  /* Sticky Navigation Bar */
  .nav-bar {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: auto;
    color: #fefae0;
  background-color: #181818;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    z-index: 100;
  }
  
  .nav-bar-left {
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .nav-bar-left h3 {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  
  .nav-bar-logo {
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
  }
  
  .nav-bar-logo img {
    height: 100px;
    width: 100px;
  }
  
  .nav-bar-right {
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .nav-bar-right h3 {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  
  /* Homepage Parallax */
  .homepage {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .homepage-parallax-base {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateZ(0);
  }
  
  /* Homepage Parallax Background */
  .homepage-parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: 5;
  }
  
  .homepage-parallax-group:nth-child(2) {
    margin-top: 2430px;
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: 4;
  }
  
  .homepage-parallax-back {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    transform: translateX(-850px) translateY(-200px) translateZ(-2.5px) scale(4.5);
  }
  
  .hpb-image-container {
    height: max-content;
    width: max-content;
    left: 0px;
    top: 0px;
    background: url(Nicholas-Keeler-Vineyard-Night.jpg);
  }
  
  /* Homepage Parallax Quote */
  .homepage-parallax-base {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateZ(0);
  }
  
  .quote-container {
    position: absolute;
    width: 603px;
    height: 131px;
    left: 458px;
    top: 399px;
  }
  
  .quote-container p {
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    color: #FFFFFF;
  }
  
  /* Recommendation Container */
  .recommendation-container {
    margin-top: 625px;
    height: auto;
    width: auto;
    background-color: #fefae0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .premium-selection-container, .fresh-arrival-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .ps-text-container, .fa-text-container {
    margin: 125px 30px;
    height: 400px;
    width: auto;
  }
  
  .ps-text-container h2 {
    padding-right: 5px;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    border-right: 10px solid #bc6c25;
  }
  
  .fa-text-container h2 {
    padding-left: 5px;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    border-left: 10px solid #DDA15E;
  }

  .search {
    margin: 125px 30px;
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .product-container {
    display: inline-block;
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
    height: 350px;
  }
  
  .product-container img {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: inline-block;
  }
  
  .product-display {
    height: 350px;
    width: 350px;
    background-color: #bc6c25;
    position: absolute;
    opacity: 0;
  }
  
  .product-container:hover .product-display {
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    transition-duration: 1s;
  }
  
  .product-container:hover img {
    display: none;
  }
  
  .desc {
    color: #fff;
    font-size: 20px;
    position: relative;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    top: calc(50% - 6px);
  }

  .row1 {
    margin: 0;
    background-color: #fff;
    height: 3000px;
    z-index: 1;
  }

  .row2 {
    float: center;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    height: 3000px;
  }
  
  .search-box {
    position: absolute;
    width: 346px;
    height: 40px;
    left: 587px;
    top: 760px;
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
  }

  .column {
    float: center;
    padding: 10px;
    background-color: #fff;
    height: 3000px;
  }

  .box2 {
    position: absolute;
    width: 400px;
    height: 20px;
    left: 560px;
    top: 814px;
    border: 15px solid rgba(128, 0, 0, 0.61);
  }
  
  .search-box:hover > .search-input {
    width: 200px;
  }
  
  .search-box .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
  }
  
  .search-text {
    position: absolute;
    width: 346px;
    height: 40px;
    left: 587px;
    top: 760px;
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;

  }