/* 
Color Palettes 

-- Font Color --
Thamar Black - 181818 
Cornsilk - FEFAE0

-- Design Color --
Cape Palliser - 784830
Liver Dogs - BC6C25
Fawn - DDA15E
Kombu Green - 283618
Dark Oliver Green - 606C38
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
p {
    font-family: "Old Standard TT", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Sticky Navigation Bar */
.nav-bar {
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: auto;
    color: #fefae0;
    background-color: #181818;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    z-index: 100;
}

.nav-bar-left {
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav-bar-left h3 {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.nav-bar-logo {
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.nav-bar-logo img {
    height: 100px;
    width: 100px;
}

.nav-bar-right {
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav-bar-right h3 {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
}

/* All Popup Container */
/* Edit Personal Details Popup */
.edit-modal {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #18181880;
    position: fixed;
    display: none;
    z-index: 200;
    overflow: auto;
}

.edit-modal-container {
    margin: 20% auto;
    height: auto;
    width: 50%;
    color: #fefae0;
    background-color: #BC6C25;
}

.edit-personal-information-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.edit-personal-information-title {
    margin: 30px;
    height: auto; 
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.edit-personal-information-title h2 {
    padding-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 10px solid #DDA15E;
}

.edit-personal-information-title i {
    cursor: pointer;
}

.editable-personal-information {
    margin: 50px;
    height: auto;
    width: auto;
}

/* Manage Subscription Popup */
.subscription-modal {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #18181880;
    position: fixed;
    display: none;
    z-index: 200;
    overflow: auto;
}

.subscription-modal-container {
    margin: 20% auto;
    height: auto;
    width: 50%;
    color: #fefae0;
    background-color: #BC6C25;
}

.subscription-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.subscription-title {
    margin: 30px;
    height: auto; 
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.subscription-title h2 {
    padding-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 10px solid #DDA15E;
}

.subscription-title i {
    cursor: pointer;
}

.subscription-notes-container {
    margin: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.subscription-notes-container p {
    margin: 20px 30px;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.subscription-selection-container {
    margin: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.silver-container, .gold-container, .platinum-container {
    margin: 30px;
    height: auto;
    width: auto;
    background-color: #784830;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.silver-icon, .gold-icon, .platinum-icon {
    margin: 20px 0 20px 20px;
    padding: 20px;
    height: 100px;
    width: 100px;
    color: #bc6c25;
    background-color: #fefae0;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 0
}

.silver-description, .gold-description, .platinum-description {
    margin: 20px;
    height: auto;
    width: auto;
}

.silver-description h1, .gold-description h1, .platinum-description h1 {
    margin: 20px;
    padding-bottom: 5px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 5px solid #bc6c25;
    cursor: pointer;
}

.silver-description p, .gold-description p, .platinum-description p {
    margin: 10px;
    font-size: 18px;
    letter-spacing: 1.5;
    line-height: 1.5;
}

/* Subscription Confirm Popup */
.confirm-subscription-modal {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #18181880;
    position: fixed;
    display: none;
    z-index: 300;
    overflow: auto;
}

.confirm-subscription-modal-container {
    margin: 20% auto;
    height: auto;
    width: 50%;
    color: #fefae0;
    background-color: #BC6C25;
}

.confirm-subscription {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.confirm-subscription-title {
    margin: 20px;
    height: auto; 
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.confirm-subscription-title h2 {
    margin: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 10px solid #DDA15E;
}

.confirm-subscription-title i {
    cursor: pointer;
}

.confirm-subscription-notes {
    margin: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.confirm-subscription-notes p {
    margin: 20px 30px;
    font-size: 22px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.confirm-payment-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.confirm-payment-container p {
    margin: 20px 30px;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

/* Order Form Popup */
.order-modal {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #18181880;
    position: fixed;
    display: none;
    z-index: 200;
    overflow: auto;
}

.order-modal-container {
    margin: 20% auto;
    height: auto;
    width: 60%;
    color: #fefae0;
    background-color: #BC6C25;
}

.order {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.order-title {
    margin: 20px;
    height: auto; 
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.order-title h2 {
    margin: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 10px solid #DDA15E;
}

.order-title i {
    cursor: pointer;
}

.order-notes {
    margin: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.order-notes p {
    margin: 0 30px;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.order-container {
    margin: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.order-container span {
    margin-bottom: 20px;
    color: #fefae0;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.order-container span:hover {
    color: #181818;
}

.order-container input:checked ~ span {
    color: #181818;
}

.order-container p {
    margin: 2.5px 5px 5px 5px;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.order-container input:checked ~ span p {
    display: block;
}

.coffee-bean-container {
    margin: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.coffee-bean-container h6 {
    font-size: 20px;
    width: auto;
    text-align: center;
}

.coffee-bean {
    margin: 30px;
    height: 250px;
    width: 200px;
}

.coffee-bean img {
    height: 250px;
    width: 200px;
}

/* Order History Popup */
.history-modal {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #18181880;
    position: fixed;
    display: none;
    z-index: 200;
    overflow: auto;
}

.history-modal-container {
    margin: 20% auto;
    height: auto;
    width: 50%;
    color: #fefae0;
    background-color: #BC6C25;
}

.history {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.history-title {
    margin: 20px;
    height: auto; 
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.history-title h2 {
    margin: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 10px solid #DDA15E;
}

.history-title i {
    cursor: pointer;
}

.history-notes {
    margin: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.history-notes p {
    margin: 0 30px;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.history-container {
    margin: 50px;
    height: auto;
    width: auto;
    background-color: #784830;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

table {
    margin: 50px;
    height: auto;
    width: auto;
}

table tr {
    height: auto;
    width: auto;
}

table th {
    padding: 20px 10px;
    height: auto;
    width: auto;
    font-family: "Oxygen", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    border-top: 10px double #DDA15E;
    border-bottom: 10px double #DDA15E;
}

table td {
    padding: 20px 10px;
    height: auto;
    width: auto;
    font-family: "Old Standard TT", serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
    border-bottom: 10px double #DDA15E;
}

/* Form in Popups */
form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.order-container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

form button {
    right: 0;
    margin: 10px 10px 25px 10px;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: "Old Standard TT", serif;
    background: linear-gradient(to left, #fefae0 50%, #283618 50%) right;
    background-size: 200%;
    border: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

form button:hover {
    color: #fefae0;
    background-position: left;
}

form label {
    font-size: 20px;
    letter-spacing: 1.5px;
}

.order-container form label {
    margin: 10px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

form input {
    right: 0;
    margin: 10px 10px 25px 10px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: "Old Standard TT", serif;
    background: linear-gradient(to left, #fefae0 50%, #DDa15e 50%) right;
    background-size: 200%;
    border: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

form input[type=submit] {
    width: 200px;
    background: linear-gradient(to left, #fefae0 50%, #283618 50%) right;
    background-size: 200%;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

form input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

form input:focus {
    background-position: left;
    outline: none;
}

form input[type=submit]:hover {
    color: #fefae0;
    background-position: left;
}

/* Customer Profile Page Parallax */
.customer-profile-page {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
  
/* Customer Profile Parallax Background */
.customer-profile-parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: 5;
}
  
.customer-profile-parallax-back {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    transform: translateX(-450px) translateY(-200px) translateZ(-1.625px) scale(2.5);
}
  
.cpb-image-container {
    width: max-content;
    height: max-content;
    overflow: hidden;
}
  
/* Customer Profile Parallax Quote */
.customer-profile-parallax-base {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateZ(0);
}
  
.quote-container {
    margin: 325px 300px 0 300px;
    padding: 15px;
    width: auto;
    height: auto;
    background-color: #181818DD;
    border-radius: 5px;
}
  
.quote-container p {
    color: #fefae0;
    font-size: 28px;
    letter-spacing: 0.5px;
    text-align: center;
}

/* Customer Profile Personal Information Container */
.customer-profile-container {
    margin-top: 450px;
    height: auto;
    width: auto;
    color: #fefae0;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.personal-information-container {
    margin: 75px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.personal-information-title {
    margin: 20px;
    padding-bottom: 10px;
    height: auto;
    width: auto;
    border-bottom: 10px solid #606C38;
}

.personal-information-title h3 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1.5;
}

.personal-information {
    margin: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.personal-information p {
    margin: 20px;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.customer-function-container {
    margin: 30px 50px 50px 50px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.cfc-top, .cfc-bottom {
    margin: 20px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.cfc-top h5, .cfc-bottom h5 {
    margin: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.cfc-top h5:nth-child(odd), .cfc-bottom h5:nth-child(odd) {
    border-bottom: 10px solid #DDA15E;
}

.cfc-top h5:nth-child(even), .cfc-bottom h5:nth-child(even) {
    border-bottom: 10px solid #BC6C25;
}

/* Footer */
.footer-container {
    height: auto;
    width: auto;
    color: #181818;
    background-color: #F3EEC8;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.footer-quote-container {
    margin: 50px;
    height: auto;
    width: auto;
}
  
.footer-quote {
    height: auto;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
  
.footer-sub-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
  
.footer-nav {
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.footer-nav p {
    margin-top: 15px;
}
  
.footer-social-media {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
  
.fsm-title {
    margin: 15px;
    height: auto;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
  
.fsm-content {
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.fsm-content p {
    margin-top: 15px;
}
  
.footer-contact-us {
    margin: 15px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.fcu-title {
    margin: 15px;
    height: auto;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
  
.fcu-content {
    margin-top: 15px;
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
  
.fcu-content p {
    margin-top: 15px;
}
  
.footer-copyright {
    margin: 25px;
    height: auto;
    width: auto;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: right;
    border-top: 2.5px solid #181818;
}
  
.footer-copyright p {
    margin-top: 25px;
}