/* 
Color Palettes 

-- Font Color --
Thamar Black - 181818 
Cornsilk - FEFAE0

-- Design Color --
Cape Palliser - 784830
Liver Dogs - BC6C25
Fawn - DDA15E
Kombu Green - 283618
Dark Oliver Green - 606C38
*/

/* Coded by Yip Zi Xian */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body,
p {
    font-family: "Old Standard TT", serif;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen", sans-serif;
}