/* 
Color Palettes 

-- Font Color --
Thamar Black - 181818 
Cornsilk - FEFAE0

-- Design Color --
Cape Palliser - 784830
Liver Dogs - BC6C25
Fawn - DDA15E
Kombu Green - 283618
Dark Oliver Green - 606C38
*/

/* Ong Lit Tsen */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
p {
  font-family: "Old Standard TT", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", sans-serif;
}

/* Sticky Navigation Bar */
.nav-bar {
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: auto;
  color: #fefae0;
  background-color: #181818;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  z-index: 100;
}

.nav-bar-left {
  height: 100px;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.nav-bar-left h3 {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.nav-bar-logo {
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  width: 100px;
}

.nav-bar-logo img {
  height: 100px;
  width: 100px;
}

.nav-bar-right {
  height: 100px;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.nav-bar-right h3 {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1.5px;
}

/* Report Page Parallax */
.report-homepage {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Report page Parallax Background */
.report-parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: -1;
}

.report-parallax-back {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateX(-450px) translateY(-200px) translateZ(-1.625px)
    scale(2.5);
}

.image-container {
  height: max-content;
  width: max-content;
  overflow: hidden;
}

/* Report page Parallax Quote */
.report-parallax-base {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateZ(0);
}

.quote-container {
  margin: 325px 300px 0 300px;
  padding: 15px;
  width: auto;
  height: auto;
  background-color: #181818dd;
  border-radius: 5px;
}

.quote-container p {
  color: #fefae0;
  font-size: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}

.row {
  margin: 0;
  background-color: #fff;
  height: 2200px;
  z-index: 1;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.report-column {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  height: 1700px;
}

.report-title {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: "Old Standard TT";
}

.design {
  display: flex;
  height: 13px;
  width: 580px;
  background-color: #784830;
  margin-left: 32%;
}

.select-column {
  margin-top: 65px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-family: "Old Standard TT";
}

.report-container {
  display: flex;
  height: 1500px;
  width: 1000px;
  background-color: #dda15e;
  margin-left: 20%;
  margin-top: 50px;
}

.logo-container {
  margin-top: 60px;
  margin-left: 60px;
}

.title-design {
  height: 15px;
  width: 580px;
  background-color: #bc6c25;
  margin-left: 100px;
  margin-top: 85px;
}

.content-title {
  font-family: "Old Standard TT";
  margin-top: 100px;
  margin-left: 200px;
  font-size: 30px;
}
